<!DOCTYPE HTML>
<!--
	Halcyonic by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Bánki Donát Hagyományőrző Kör</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {% block stylesheets %}
        {% stylesheets 'bundles/main/sass/main.scss' filter='scssphp' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
</head>
<body>
<div id="page-wrapper">

    <!-- Header -->
    <div id="header-wrapper">
        {% include 'MainBundle::member.html.twig' %}
        <header id="header" class="container">
            <div class="row">
                <div class="12u">

                    <!-- Logo -->
                    <h1><a href="{{ path('homepage') }}" id="logo">Bánki Donát Hagyományőrző Kör</a></h1>

                    <!-- Nav -->
                    <nav id="nav">
                        <a href="{{ path('homepage') }}">Főoldal</a>
                        <a href="{{ path('about') }}">Rólunk</a>
                        <a href="{{ path('events') }}">Események</a>
                        <a href="{{ path('gallery') }}">Galéria</a>
                        <a href="{{ path('contact') }}">Kapcsolat</a>
                    </nav>

                </div>
            </div>

        </header>

        {% block banner %}{% endblock %}
    </div>
    {% block body %}{% endblock %}

    <!-- Footer -->
    <div id="footer-wrapper">
        <footer id="footer" class="container">
            <div class="row">
                <div class="8u 12u(mobile)">

                    <!-- Links -->
                    <section>
                        <h2>Linkek mindenféléhez</h2>

                        <div>
                            <div class="row">
                                <div class="3u 12u(mobile)">
                                    <ul class="link-list last-child">
                                        <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                                        <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                                        <li><a href="{{ path('homepage') }}">Adminisztráció</a></li>
                                    </ul>
                                </div>
                                <div class="3u 12u(mobile)">
                                    <ul class="link-list last-child">
                                        <li><a href="{{ path('homepage') }}">Főoldal</a></li>
                                        <li><a href="{{ path('about') }}">Rólunk</a></li>
                                        <li><a href="{{ path('gallery') }}">Galéria</a></li>
                                        <li><a href="{{ path('contact') }}">Kapcsolat</a></li>
                                    </ul>
                                </div>
                                <div class="3u 12u(mobile)">
                                    <ul class="link-list last-child">
                                        <li><a href="//uni-obuda.hu" target="_blank">Óbudai Egyetem</a></li>
                                        <li><a href="//www.banki.hu" target="_blank">Bánki Donát Kar</a></li>

                                    </ul>
                                </div>
                                <div class="3u 12u(mobile)">
                                    <ul class="link-list last-child">
                                        <li><a href="//joszerencset.hu" target="_blank">Jó Szerencsét!</a></li>
                                        <li><a href="//selmeciszellem.hu" target="_blank">Selmeci Szellem</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
                <div class="4u 12u(mobile)">

                    <!-- Blurb -->
                    <section>
                        <h2>Random</h2>

                        <p>
                            "Melyik mondta, hogy lemerült az aggregátor?"
                        </p>
                    </section>

                </div>
            </div>
        </footer>
    </div>

    <!-- Copyright -->
    <div id="copyright">
        &copy; Bánki Donát Hagyományőrző Kör. Minden jog fenntartva. | Design: <a href="//html5up.net">HTML5 UP</a> | coded by: <a href="//mikopet.me">Mikopet</a>
    </div>

</div>

<!-- Scripts -->
{% block javascripts %}
    {% javascripts '@MainBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>