{% extends 'MainBundle::two2.html.twig' %}

{% block sidebar %}
    <section>
        <header>
            <h2>Rólunk</h2>
        </header>
        <ul class="link-list">
            <li><a href="{{ path('about', {'aid': "tortenet"}) }}">A kör története</a></li>
            <li><a href="{{ path('about', {'aid': "kronikak"}) }}">Krónikák</a></li>
            <li><a href="{{ path('about', {'aid': "szakestelyek"}) }}">Szakestélyek</a></li>
            <li><a href="{{ path('about', {'aid': "ballagas"}) }}">Ballagás</a></li>
            <li><a href="{{ path('about', {'aid': "koszoruzas"}) }}">Koszorúzás</a></li>
            <li><a href="{{ path('about', {'aid': "kramplifozes"}) }}">Kramplifőzés</a></li>
        </ul>
    </section>
    <section>
        <header>
            <h2>Egyebek</h2>
        </header>
        <p>
            Egyéb Körhöz kapcsolódó dolgok
        </p>
        <ul class="link-list">
            <li><a href="{{ path('about_members') }}">Tagok</a></li>
            <li><a href="{{ path('about_tables') }}">Asztaltársaságok</a></li>
            <li><a href="{{ path('about_songs') }}">Nóták</a></li>
            <li><a href="{{ path('about_jugs') }}">Korsók</a></li>
        </ul>
    </section>
{% endblock %}
{% block content %}
    {% include ['MainBundle:About:stuff/'~subsite~'.html.twig', 'MainBundle:About:stuff/_default.html.twig'] ignore missing %}
{% endblock %}
