{% extends 'MainBundle:Default:base.html.twig' %}

{% block banner %}
<div id="banner">
    <div class="container">
        <div class="row">
            <div class="6u 12u(mobile)">

                <!-- Banner Copy -->
                <p>Hallottál rólunk? Belépnél? Itt a lehetőség! Kattints az alábbi gombra, és néhány kérdés utám fel is írunk a listára ...</p>
                <a href="#" class="button-big">Csatlakozni akarok!</a>

            </div>
            <div class="6u 12u(mobile)">

                <!-- Banner Image -->
                <a href="#" class="bordered-feature-image"><img
                            src="{{ asset('bundles/main/images/banner.jpg') }}" alt=""/></a>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <!-- Features -->
    <div id="features-wrapper">
        <div id="features">
            <div class="container">
                <div class="row">
                    <div class="3u 12u(mobile)">

                        <!-- Feature #1 -->
                        <section>
                            <a href="#" class="bordered-feature-image"><img
                                        src="{{ asset('bundles/main/images/pic01.jpg') }}" alt=""/></a>

                            <h2>Legutóbbi esemény</h2>

                            <p>
                                Volt a <strong>Nagyszakestély</strong>, aminek a képeit a <a href="#">Galériában</a>
                                lehet megtekinteni. Jó szórakozást!
                            </p>
                        </section>

                    </div>
                    <div class="3u 12u(mobile)">

                        <!-- Feature #2 -->
                        <section>
                            <a href="#" class="bordered-feature-image"><img
                                        src="{{ asset('bundles/main/images/pic02.jpg') }}" alt=""/></a>

                            <h2>Azelőtti esemény</h2>

                            <p>
                                , mikor elmentünk bányásznapra. stbstbstb.
                            </p>
                        </section>

                    </div>
                    <div class="3u 12u(mobile)">

                        <!-- Feature #3 -->
                        <section>
                            <a href="#" class="bordered-feature-image"><img
                                        src="{{ asset('bundles/main/images/pic03.jpg') }}" alt=""/></a>

                            <h2>Ballagás</h2>

                            <p>
                                Szintén nagyon zsír program volt, még sok szöveg
                            </p>
                        </section>

                    </div>
                    <div class="3u 12u(mobile)">

                        <!-- Feature #4 -->
                        <section>
                            <a href="#" class="bordered-feature-image"><img
                                        src="{{ asset('bundles/main/images/pic04.jpg') }}" alt=""/></a>

                            <h2>Jubiláló, vagy zúzós</h2>

                            <p>
                                Szakestély, nem emlékszem, az is lehet, hogy mindkettő
                            </p>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div id="content-wrapper">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="4u 12u(mobile)">

                        <!-- Box #1 -->
                        <section>
                            <header>
                                <h2>Kik vagyunk mi?</h2>

                                <h3>diákok ...</h3>
                            </header>
                            <a href="#" class="feature-image"><img src="{{ asset('bundles/main/images/pic05.jpg') }}"
                                                                   alt=""/></a>

                            <p>
                                Célunk diákhagyományok ápolása, egyéb szöveg, amit majd más megír hosszan és sejtelmesen
                            </p>
                        </section>

                    </div>
                    <div class="4u 12u(mobile)">

                        <!-- Box #2 -->
                        <section>
                            <header>
                                <h2>Mit csinálunk?</h2>

                                <h3>Programokat! Pl.:</h3>
                            </header>
                            <ul class="check-list">
                                <li>Szakestélyeket</li>
                                <li>Ballagásokat</li>
                                <li>Koszorúzásokat</li>
                            </ul>
                        </section>

                    </div>
                    <div class="4u 12u(mobile)">

                        <!-- Box #3 -->
                        <section>
                            <header>
                                <h2>Mit mondanak rólunk?</h2>

                                <h3>... az iskolában, és azon kívül ...</h3>
                            </header>
                            <ul class="quote-list">
                                <li>
                                    <img src="{{ asset('bundles/main/images/pic06.jpg') }}" alt=""/>

                                    <p>"Szupi"</p>
                                    <span>valami tanár</span>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/main/images/pic07.jpg') }}" alt=""/>

                                    <p>"Ügyesek!"</p>
                                    <span>valami selmeci</span>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/main/images/pic08.jpg') }}" alt=""/>

                                    <p>"Segítőkészek..."</p>
                                    <span>lucanaposok</span>
                                </li>
                            </ul>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
